using CONST_RootNamespace.MVC.CONST_ModuleName.Models;
using CONST_RootNamespace.MVC.CONST_ModuleName.ScriptableObjects;

namespace CONST_RootNamespace.MVC.CONST_ModuleName.Controllers
{
    public interface CONST_IControllerName 
    {
        // Properties not used thanks to Zenject injection

        //CONST_ModelName Model { get; }
        //CONST_SO_ConfigurationScriptableObject ModuleConfigurationData { get; }
    }
}