using ACG.Tools.Runtime.SOCreator.Collections;
using CONST_RootNamespace.Core.ScriptableObjects.Data;
using UnityEngine;

namespace CONST_RootNamespace.Core.ScriptableObjects.Collections
{
   [CreateAssetMenu(fileName = "CONST_NewInstanceName", menuName = "ScriptableObjects/Collections/CONST_Name")]
   public class CONST_SOCollectionName : SO_CollectionBase<CONST_SOType>
   {         

   }
}