//using ACG.Tools.Runtime.ApiCallers.Pokemon;

namespace CONST_RootNamespace.ApiCallers.CONST_ApiCallerName
{
    public class CONST_ApiContainerName 
    {      
        //public Pokemon PikachuData { get; set; }
        //public Pokemon CharmanderData { get; set; }
    }
}
